* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #444;
}

main {
  width: 980px;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
  user-select: none;
}

dl {
  margin: 0;
}

dt {
  user-select: none;
}

dd {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  user-select: none;
}

a {
  user-select: none;
}

small {
  user-select: none;
}

button {
  user-select: none;
}

span {
  user-select: none;
}

div {
  user-select: none;
}

.anchor-off {
  pointer-events: none;
}

.section_text-title {
  margin: 0;
  padding-top: 32px;
  text-align: center;
  font-size: 21px;
  letter-spacing: 1px;
}

.section_text-title_en {
  margin: 0 auto 26px auto;
  width: 150px;
  text-align: center;
  font-size: 12px;
  line-height: 2;
  border-top: 1px solid #444;
}
