.hero {
  position: relative;
  height: 550px;
}

.hero_img-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

.hero_text-copy {
  margin: 0;
  padding: 168px 0 0 0;
  color: white;
  text-align: center;
  font-size: 42px;
}

.hero_text-subcopy {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 15px;
}

.hero_text-title {
  margin: 10px 0 0 0;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  transform: scale(1.1, 1);
}

.gmenu {
  border-bottom: 1px solid #444;
}

.gmenu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 37px;
  width: 980px;
  height: 83px;
}

.gmenu_text-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  transform: scale(1.1, 1);
}

.gmenu_list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}

.gmenu_item-anchor {
  text-decoration: none;
  color: #444;
}

.gmenu_btn-login {
  width: 123px;
  height: 34px;
  background-color: white;
  border: 2px solid #444;
  border: 2px solid #ccc;
}

.topic {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 40px;
  margin: 45px 0 80px 0;
  width: 980px;
}

.topic_anchor {
  text-decoration: none;
  color: #444;
}

.topic_img {
  object-fit: cover;
}

.topic_text-title {
  text-align: center;
  line-height: 2;
}

.topic_text-message {
  padding: 10px 10px 0 10px;
  font-size: 12px;
  border-top: 1px solid #444;
}

.recommend {
  width: 980px;
  height: 645px;
  background-color: #f3f4f0;
}

.recommend_list {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 220px 220px;
  gap: 30px 30px;
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.recommend_item {
  border: 5px solid white;
}

.recommend_item-anchor {
  position: relative;
}

.recommend_item-img {
  object-fit: cover;
}

.recommend_copy {
  position: absolute;
  right: 14px;
  bottom: 14px;
  z-index: 1;
  color: white;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 1px 1px 2px #444;
}

.recommend_subcopy {
  font-size: 24px;
  font-weight: normal;
}

.info {
  height: 430px;
}

.section_text-title {
  margin: 0;
  padding-top: 32px;
  text-align: center;
  font-size: 21px;
}

.section_text-title_en {
  margin: 0 auto 26px auto;
  width: 140px;
  text-align: center;
  font-size: 12px;
  line-height: 2;
  border-top: 1px solid #444;
}

.info_list {
  position: relative;
  margin: 0 auto;
  width: 700px;
  font-size: 14px;
}

.info_item-date {
  position: absolute;
  left: 0;
  padding: 1em 0;
  width: 180px;
}

.info_item-title {
  margin: 0;
  padding: 1em 0 1em 180px;
  width: 650px;
}

.info_item-title ~ .info_item-title {
  border-top: 1px solid #ccc;
}

.backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: white;
  background-color: #d0d2d3;
}

.backtotop_arrow {
  margin-top: 18px;
  width: 24px;
  height: 24px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg);
  user-select: none;
}

footer {
  margin: 0;
  padding: 40px 0;
  background-color: #a2d39b;
  height: 216px;
}

.fmenu_list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 530px;
  height: 16px;
  list-style: none;
}

.fmenu_item {
  display: flex;
  align-items: center;
  height: 16px;
}

.fmenu_item ~ .fmenu_item {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid white;
}

.fmenu_item-anchor {
  text-decoration: none;
  font-size: 12px;
  color: white;
}

.copyright {
  display: block;
  text-align: center;
  margin-top: 110px;
  font-size: 11px;
  color: white;
}
