.hero {
  position: relative;
  height: 368px;
  margin-bottom: 52px;
}

.hero_container {
  position: relative;
  margin: 0 auto;
  width: 980px;
  height: auto;
}

.hero_img-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.hero_text-bg {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 560px;
  grid-template-rows: 50px 50px 135px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  top: 47px;
  left: 220px;
  width: 560px;
  height: 275px;
  padding: 15px 0 25px 0;
  background-color: rgba(255, 255, 255, 0.6);
}

.hero_text-first {
  font-size: 18px;
  font-weight: bold;
  color: #520;
}

.hero_text-copy {
  width: 400px;
  background-color: orange;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 3em;
  text-align: center;
}

.hero_text-title {
  font-size: 46px;
  font-weight: bold;
  color: white;
  text-shadow: orange 0px 1px;
}

.gmenu {
  border-bottom: 1px solid #444;
}

.gmenu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 37px;
  width: 980px;
  height: 83px;
}

.gmenu_text-title {
  text-decoration: none;
  color: #444;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  transform: scale(1.1, 1);
}

.gmenu_list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}

.gmenu_item-anchor {
  text-decoration: none;
  color: #444;
}

.gmenu_btn-login {
  width: 123px;
  height: 34px;
  background-color: white;
  border: 2px solid #444;
  border: 2px solid #ccc;
}

.recommend {
  margin: 38px auto 0 auto;
  width: 980px;
}

.recommend_container {
  position: relative;
  display: grid;
}

.recommend_container-kyoho {
  padding: 100px 0 0 0;
  height: 450px;
}

.recommend_container-smoothes {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 980px;
  grid-template-rows: 180px 380px 50px;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
  height: 730px;
}

.recommend_img-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.recommend_text {
  display: flex;
  margin: 0 auto;
  width: 800px;
}

.recommend_text-kyoho {
  flex-direction: column;
}

.recommend_text-smoothes {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.recommend_text-copy {
  display: flex;
  margin: 0;
  font-size: 46px;
  line-height: 2;
  letter-spacing: 0.2em;
}

.recommend_text-kyoho .recommend_text-copy {
  align-items: center;
}

.recommend_text-smoothes .recommend_text-copy {
  flex-direction: column;
  align-items: end;
  line-height: 1.6;
}

.recommend_text-subcopy {
  margin-right: 0.5em;
  font-size: 22px;
  letter-spacing: 2px;
}

.recommend_text-message {
  width: 450px;
  line-height: 1.8;
}

.recommend_text-supplement {
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.1em;
}

.recommend_text-color {
  margin: 0 0.2em;
  font-size: 42px;
  color: orange;
}

.recommend_img-kyoho {
  position: absolute;
  z-index: -1;
  top: 75px;
  right: 200px;
}

.reccomend_materiel {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 300px;
  grid-template-rows: 110px 200px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 900px;
}

.reccomend_text-desc {
  text-align: center;
  font-size: 26px;
  letter-spacing: 0.2em;
}

.reccomend_text-name {
  display: block;
  font-size: 16px;
  letter-spacing: 1px;
  color: #520;
  font-weight: bold;
}

.price {
  display: grid;
  justify-items: center;
  gap: 45px;
}

.price_container {
  display: grid;
  grid-template-columns: 100px 310px;
}

.price_banner-free {
  width: 80px;
  height: 80px;
  background-color: red;
  bprice-radius: 50%;
  color: white;
}

.price_delivery-price {
  position: relative;
  font-size: 64px;
  font-style: italic;
  font-weight: bold;
  color: gray;
  letter-spacing: -8px;
  background: linear-gradient(transparent 70%, #ff0 0%);
}

.price_delivery-yen {
  margin: 0 0.6em 0 0.3em;
  font-size: 38px;
  font-style: normal;
  font-weight: bold;
}

.price_delivery-tax {
  position: absolute;
  top: 20px;
  right: 0;
  width: 5em;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0;
}

.price_btn {
  margin: 0 auto;
  width: 360px;
  height: 65px;
  background-color: green;
  font-size: 18px;
  color: white;
}

.backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  color: white;
  background-color: #d0d2d3;
}

.banner {
  position: relative;
  margin: 90px auto 150px auto;
  width: 900px;
  height: 200px;
}

.banner_img {
  object-fit: cover;
  border: 3px solid #520;
}

.banner_text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 100px;
  width: 380px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner_text-title {
  color: white;
  font-size: 32px;
  letter-spacing: 0.2em;
  text-align: center;
}

.banner_text-subtitle {
  display: block;
  margin-bottom: 0.5em;
  font-size: 20px;
}

.backtotop_arrow {
  margin-top: 18px;
  width: 24px;
  height: 24px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(-45deg);
  user-select: none;
}

footer {
  margin: 0;
  padding: 40px 0;
  background-color: #a2d39b;
  height: 216px;
}

.fmenu_list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 530px;
  height: 16px;
  list-style: none;
}

.fmenu_item {
  display: flex;
  align-items: center;
  height: 16px;
}

.fmenu_item ~ .fmenu_item {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid white;
}

.fmenu_item-anchor {
  text-decoration: none;
  font-size: 12px;
  color: white;
}

.copyright {
  display: block;
  text-align: center;
  margin-top: 110px;
  font-size: 11px;
  color: white;
}
